EmployeeManagement.API/obj/project.nuget.cache
EmployeeManagement.API/obj/EmployeeManagement.API.csproj.nuget.g.props
EmployeeManagement.API/obj/Debug/net7.0/EmployeeManagement.API.AssemblyInfo.cs
EmployeeManagement.API/obj/Debug/net7.0/EmployeeManagement.API.AssemblyInfoInputs.cache
EmployeeManagement.API/obj/Debug/net7.0/EmployeeManagement.API.assets.cache
EmployeeManagement.API/obj/Debug/net7.0/EmployeeManagement.API.csproj.AssemblyReference.cache
EmployeeManagement.API/obj/Debug/net7.0/EmployeeManagement.API.GeneratedMSBuildEditorConfig.editorconfig
EmployeeManagement.Models/obj/EmployeeManagement.Models.csproj.nuget.g.props
EmployeeManagement.Web/obj/Debug/net7.0/EmployeeManagement.Web.GeneratedMSBuildEditorConfig.editorconfig
EmployeeManagement.Web/obj/Debug/net7.0/EmployeeManagement.Web.csproj.AssemblyReference.cache
EmployeeManagement.Web/obj/Debug/net7.0/EmployeeManagement.Web.assets.cache
EmployeeManagement.Web/obj/Debug/net7.0/EmployeeManagement.Web.AssemblyInfoInputs.cache
EmployeeManagement.Web/obj/Debug/net7.0/EmployeeManagement.Web.AssemblyInfo.cs
EmployeeManagement.Web/obj/project.nuget.cache
EmployeeManagement.Web/obj/EmployeeManagement.Web.csproj.nuget.g.props
EmployeeManagement.Models/obj/Debug/net7.0/EmployeeManagement.Models.GeneratedMSBuildEditorConfig.editorconfig
EmployeeManagement.Models/obj/Debug/net7.0/EmployeeManagement.Models.assets.cache
EmployeeManagement.Models/obj/Debug/net7.0/EmployeeManagement.Models.AssemblyInfoInputs.cache
EmployeeManagement.Models/obj/Debug/net7.0/EmployeeManagement.Models.AssemblyInfo.cs
EmployeeManagement.API/bin/Debug/net7.0/EmployeeManagement.API.dll
*.dll
*.pdb
